html, body {
  position: relative;
  height: 100%;
  background-image: url(public/img/bg.jpg);
  background-size: cover;
}

.landing {
  width: 40%;
  padding: 20px;
  background-color: peru;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%)
}

.landing input {
  padding: 10px;
  width: 100%;
}

.peru_title {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.button_link {
  margin-top: 10px;
  padding: 5px;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}